.contactme {
    width: 100%;
    background-image: url("http://www.mmasynergy.com/images/inner-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
  }
  .contactOverlay {
    width: 100%;
    padding: 4%;
    background-color: rgba(255, 223, 223, 0.621);
  }
  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .Aform {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
  }
  .Aform button {
    min-width: 190px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background-color: var(--main);
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: var(--main2);
    font-weight: bold;
    margin-top: 10%;
  }
  .Aform button:hover {
    background-color: unset;
    border: 2px solid #f7afaf;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    color: var(--main);
  }
  .formWord {
    width: 40%;
    padding: 4%;
  }
 .formWord h4{
   margin-top: 1rem;
   padding:.2rem;
 }
  .formWord input {
    width: 100%;
    height: 40px;
    margin-bottom: 10%;
    border: 0;
    margin-top: 2%;
    padding-left: 3%;
    background: #fff3f3;
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px var(--main);
  }
  .formWord textarea {
    width: 100%;
    margin-bottom: 10%;
    border: 14px;
    margin-top: 2%;
    height: 70px;
    background: #fff3f3;
    -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
    box-shadow: 0px 0px 48px 0px var(--main);
    padding-left: 3%;
  }
  .formWord span{
      color: var(--main);
      font-weight: 600;
      padding-left: .9rem;
  }
  /*---------------------------------------------------------*/
 
  @media (max-width:770px){
  
 
    .Aform {
       margin: auto;
        
      display: flex;
      flex-direction: column;
     align-items: center;
     
      
      background-color: white;
      overflow: hidden;
      border-radius: 20px;
    }
    .formWord input {
      width: 100%;
      height: 30px;
      margin-bottom: 8%;
      border: 0;
      
      
      background: #fff3f3;
      -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
      box-shadow: 0px 0px 48px 0px rgb(88, 37, 37);
    }

    .formWord {
      width: 94% !important;
      overflow: hidden;
      margin:auto;
      padding: 3%;
    }
  

    
    .Aform button {
      min-width: 150px;
      height: 40px;
    
      border-radius: 5px;
      background-color: var(--main);
      -webkit-transition: 0.5s linear;
      -o-transition: 0.5s linear;
      transition: 0.5s linear;
      color: var(--main2);
      font-weight: bold;
      margin-top: 7%;
    }
  }