
.copyright{
    text-align:center;
    font-size:11px;
    padding-bottom:.2rem;
}@media (max-width:700px){
    .head1{
font-size: 14px;
    }
  
    .copyright{
        text-align:center;
        font-size:9px;
        padding-bottom:3px;
    }
    .parag{
        font-size: 12px;
    }
}