

.flip-card {
    background-color: rgba(172, 255, 47, 0);
    width: 190px;
    height: 200px;
    perspective: 400px;
    border-radius: 12px;
  }
  
  .flip-card-inner {
    border-radius: 12px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(175deg);
  }
  
  .flip-card-front, .flip-card-back {
    border-radius: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background: linear-gradient(160deg , #a0ae21, rgb(31, 164, 124) ) ;
    color: white;
    transform: rotateY(180deg);
    display: flex;
flex-direction: column;
justify-content: space-around;
padding:1.5rem .3rem 1.5rem .3rem;
  }
  @media (max-width:540px){
    .flip-card {
    background-color: rgba(172, 255, 47, 0);
    width:90vw;
    height: 200px;
    perspective: 400px;
    border-radius: 12px;
  }
  
  .flip-card-inner {
    border-radius: 12px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(175deg);
  }
  
  .flip-card-front, .flip-card-back {
    border-radius: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background: linear-gradient(160deg , #a0ae21, rgb(31, 164, 124) ) ;
    color: white;
    transform: rotateY(180deg);
    display: flex;
flex-direction: column;
justify-content: space-around;
padding:1.5rem .3rem 1.5rem .3rem;
  }

  }  