.ToContain {
    width:96vw;
 
    height: fit-content;
    margin: auto;
    border-radius: 30px;
    background-image: linear-gradient(150deg,#a600ff,#6200ff);
    display: grid;
    overflow: hidden;
      grid-template-columns: 73% 27%;
    border-radius: 30px;
    background-image: linear-gradient(100deg,rgb(31, 164, 124),#158f6ca9);



}
.firstDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0rem 0;
    align-items: flex-start;
    margin-left: 4rem;
}
.MainTitle {
    font-size: 44px;
    color:white;
}
.secondtitle {
    font-size: 24px;
    color:white;
    margin-top: .4rem;
}
.SearchContainer {
    height: 69px; display: flex;
    align-items: center;
    border-radius: 50px;
    margin-top: 1rem;
background-color:#21d48d ;    width: 84%;
}
.inpt{
    font-size: 20px;
    color:#ffffff;
    font-weight: 600;
    height: 100%;
    width:70%;
    outline: none;
    border: none;
    

    padding-left: 2rem;
    border-radius: 50px;
    background-color: transparent;
}
.inpt::placeholder{
    color:white;
    font-size: 20px;
}
.sub {
    width:28%;
    float: right;
  font-size: 20px;
    color:rgb(31, 164, 124);
    font-weight: 600;
    height:85%;
    margin: auto;
    border-radius: 50px;
    outline:none;
    border:none;
}
.SecondDiv {
}
.imga{
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}
@media (max-width:850px){
    .ToContain    {
        grid-template-columns: 100%;
    }
    .SecondDiv {
        display: none;
    } 
    .inpt{
        width: 84%;font-size: 13px;
    }
    .inpt::placeholder{
       font-size: 13px;
       line-height: 36px;
    }
    .sub{
        width:fit-content;
        padding: 0px 9px;
        margin-right:4px;
        font-size: 13px;
    }
    .MainTitle{
        font-size: 25px;
        text-align: center;
    }
    .secondtitle{
        font-size: 12px;
        text-align: center;
        line-height: 10px;
    }
    .firstDiv{
        align-items: center;
        margin-left: auto;
        margin:auto;
        padding: 2rem;
    }
    .SearchContainer{
        width: 100%;
        height: 36px;
    }
  
}
