.swipper{
    width:95%;
    margin:auto;
    height:15rem;
    margin-top: 1rem;
}
.Slide{
    border-left:.5px solid rgba(99, 74, 74, 0.189) ;
    border-right:.5px solid rgba(72, 66, 66, 0.242) ; 
    
}
.swipper:hover{

}
.swiper-button-next,.swiper-button-prev{
    color:#8b5400;   
}
.swipper .Slide:hover{background-color: white;
filter:brightness(110%);
border-left:.5px solid rgba(99, 74, 74, 0.014) ;
border-right:.5px solid rgba(72, 66, 66, 0.089) ; 
color:#8b5400;background-color:rgba(255, 255, 255, 0.145)
}

.imageSwipper{
    display:block;
    height:12rem;
}
.titleswipper{
 font-weight: 800;
 padding: .2rem;
background-color:#1e1f2107;
}