
 .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  .span55{
    display:flex; 
    flex-direction: row;
    align-items: center;

    transition: all .1s linear;
  }
 .radio-toolbar label {
    display: inline-block;
   
    padding: 5px 5px;
    
    font-size: 16px;
    color:white;
    border-radius: 4px;
    transition: all .4s linear;

}
.icon5555{
    transition: all .2s linear;
    margin:7px 7px;
    color:white;
    border: 1px solid transparent;
    width:fit-content;
    padding: 0px 5px;
    border-radius: 9px;
}


input[id="icon55"]:checked + .icon5555,
input[id="icon55"]:focus + .icon5555 {
	color: rgb(31, 164, 124);
    border: 1px solid #e1e1e1;
    background-color: white;
}

input[id="icon555"]:checked + .icon5555,
input[id="icon555"]:focus + .icon5555 {
	background-color: white;
    color:rgb(31, 164, 124);
    border: 1px solid #e1e1e1;
}
input[id="icon555"]:checked + .icon5555> .label5555,
input[id="icon555"]:focus + .icon5555> .label5555 {
background-color:rgba(187, 255, 187, 0);
 
    color:rgb(31, 164, 124);
}
input[id="icon55"]:checked + .icon5555> .label5555,
input[id="icon55"]:focus + .icon5555 > .label5555 {
background-color:rgba(187, 255, 187, 0);
 
    color:rgb(31, 164, 124);
}


