
@media (max-width:800px)
{
 
   .ads{
display:none;
} 
}


@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Lalezar');

:root{
  --padding: 1rem;
  --bg-color: #fbf4f6;
  --text-color: #0a643a;
  --accent-color: #8c7779;
  --font-family: 'Noticia Text';
  --font-display: 'Lalezar';
}


.diva{
   border-right:3px solid brown;
  max-width:810px;
  margin:  0;
  padding: var(--padding);
  color: var(--main);
  background: var(--bg-color);
  font-family: var(--font-family);
  line-height: 1.8;
  font-size: 20.5px;
  padding-inline: 1rem;
  overflow-x: hidden;
}
@media (max-width:700px){
  .diva{
    font-size: 15px;

}

}

 
.diva h5{
   font-size:90%;
   transform: translateX(80%);
   font-family: var(--font-display);
   padding-bottom: 0rem;

}
h2{
  font-size: 120%;
  transform: translateX(-5px);
  font-family: var(--font-display);
  margin-bottom: 0;
  padding-top: 1rem;
 }

a{
  font-size:90%;
  color: var(--text-color);
}

p{
  font-size:90%;
  margin-bottom: 2em;
}

strong{

  display: inline-block;
  transform: translateX(-5px);
  font-size: 200%;
  line-height: 1;
  font-family: var(--font-display);
}

strong:before{
  content: '🎙️';
  margin-right: 5px;
  margin-top: 34px; 
  display: inline-block;
}

.diva h2:after{
  content: '';
  display: block;
  height: 8px;
  background: var(--main2);
  max-width: 55px;
  transform: skewX(-21deg) translateY(-13px);
  border-radius: 3px;
}
.articlepagemain{
  display: grid;

  }
  .articlepagemain>*{
  margin-top: -4.8rem;
  
    }
  



@media (max-width:900px){
  .articlepagemain{
  display: block;
 
  }
  .articlepagemain>*{
   margin-top:3rem;
  }

}

.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  margin-bottom: 1.3rem;  
  grid-template-areas:

  'menu main  main main main main main  main  '
  'menu some  some footer  footer footer footer  footer ';
gap: .5rem ;
height:4.4rem;
  background-color: rgb(255, 255, 255);
  padding: .2rem;
border-top-left-radius:10px;  
}
.item2{
width:4rem;
height:4rem;
border-top:3px solid rgb(197, 151, 151);
border-top-left-radius:10px;}
.item3{
height:1.9rem;
padding-top: .2rem;
overflow:hidden;
max-width:97%; 

font-size:1rem;
color:rgb(136, 78, 78);
font-weight:700;
line-height:.9rem;
 text-align: left;}
.item5{
text-align:right; border-right:3px solid rgb(197, 151, 151);
overflow:hidden;
line-height:1rem;
max-width:100%;
font-size:.9rem;
height: fit-content;
padding: .2rem;

color:rgb(79, 56, 56);
font-weight:600;
 word-break: break-all;

 border-bottom:3px solid rgb(197, 151, 151);
border-radius: 10px;

}
 