.swippercard{
    height:fit-content;
    width:240px;
    margin-top: 6rem;

}
.swiper-button-next{
    color:transparent;
}


.swiper-button-next::after, .swiper-button-prev::after {
background: url("https://quillbot.com/images/theme/light/landingPage/backToTopIcon.svg");
  width:4rem;
  
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
 
}
.swiper-button-prev::after{
    transform:   rotate(-90deg);
    color:transparent;
}



@media (max-width:500px){
    .swippercard{
    height: fit-content;
    width:85%;
    margin: auto;
    margin-top: 1rem;}
}