.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin: auto;
  justify-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
}
.outline {
  border: 0.02px solid rgb(209, 152, 152);
  border-radius: 10px;
  background-color: white;
  height: 23rem;
  position: relative;
  max-width: 95vw;

  transition: all 0.3s ease-in-out;
}
.outline:hover {
  transform: translateY(4px);
}

@media (max-width: 860px) {
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
  }
}
@media (max-width: 500px) {
  .grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
    margin: auto;
  }
  .outline {
    overflow: hidden;

    border:1px solid rgb(125, 84, 55);
    border-radius: 10px;
    background-color: white;
    height: 25rem;
    position: relative;
    max-width: 95vw;
    min-width: 90vw;

    transition: all 0.3s ease-in-out;
  }
  .outline:hover {
  }
}

.image1 {
  width: 100%;
  height: 57%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  overflow: hidden;
}
.image1 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--main);

}
.title {
  width: 100%;

  padding-top: .8rem;
  margin-inline: 0.7rem;
  padding-bottom: .8rem;

}
.title :hover {
  cursor: pointer;
  color: var(--main);
  text-decoration: underline;
}
.image1 p {
  position: absolute;
  background-color: var(--main);
  
  bottom: 0;
   
  width: fit-content;
  backdrop-filter: blur(7px);
  font-weight: 600;
  font-size: 0.85rem;
  border-top: 0.1px solid var(--main);
  border-right: 0.1px solid var(--main);
  border-top-right-radius: 6px;
 padding: .3rem;

  z-index: 3;
  color: rgb(255, 255, 255);
}
.title p{
font-weight: 600;
font-size: .94rem;
color:rgb(53, 15, 20)
}
@media (max-width:700px){
  .title p{
    font-weight: 600;
    font-size: .87rem;
    
  }


}
.image1 p:hover {
  background-color: rgb(255, 255, 255);
  color: var(--main);
  cursor: pointer;
  border-top: 2px solid var(--main);
  border-right: 2px solid var(--main);
  border-bottom: 2px solid var(--main);
}
.info {
  display: flex;
  height: 2.3rem;
  align-items: center;

  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  margin-inline: 0.7rem;
  border-top: 0.1px solid rgba(241, 179, 165, 0.9);
 

  justify-content: space-between;
}
.info svg {
  color: var(--main);
}
.info p {
  color: var(--main);
  font-size: .69rem;
  padding-top: 3px;
  margin-left: 0;
  font-weight: 600;
}
.tags { margin: auto;
  margin-inline: 0.7rem;
  font-size: .9rem;
   font-weight: 600;
 
  line-height: 1rem;
  color: var(--main);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 700px) {
  .tags {
    font-size: .8rem;
  }
}
