.grids {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;


  justify-items: center;
  row-gap: 1rem;
}
.outline {
  border: 0.02px solid rgb(209, 152, 152);
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  position: relative;

  width: 96%;
  margin: auto;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
}
.outline:hover {
  transform: translateY(4px);
}

.image1 {
  width: 100%;
  height: 70%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  overflow: hidden;
}
.image1 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--main);
}
.title {
  width: 100%;

  padding-top: 0.5rem;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  padding-bottom: 1.6rem;
}
.title :hover {
  cursor: pointer;
  color: var(--main);
  text-decoration: underline;
}
.image1 p {
  position: absolute;
  background-color: var(--main);
  bottom: 0;
  width: fit-content;
  backdrop-filter: blur(7px);
  font-weight: 600;
  font-size: 0.85rem;
  border-top: 0.1px solid var(--main);
  border-right: 0.1px solid var(--main);
  border-top-right-radius: 6px;
  padding: 0.3rem;
  margin-bottom: 0;
  z-index: 3;
  color: rgb(255, 255, 255);
}
.title p {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(53, 15, 20);
   width: 96%;
}
.image1 p:hover {
  background-color: rgb(255, 255, 255);
  color: var(--main);
  cursor: pointer;
  border-top: 2px solid var(--main);
  border-right: 2px solid var(--main);
  border-bottom: 2px solid var(--main);
}
.info {
  display: flex;
  height: 2.3rem;
  align-items: center;

  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  border-top: 0.1px solid rgba(241, 179, 165, 0.9);

  justify-content: space-between;
}
.info svg {
  color: var(--main);
}
.info p {
  color: var(--main);
  font-size: 0.69rem;
  padding-top: 3px;
  margin-left: 0;
  font-weight: 600;
  margin-bottom: 0;
}
.tags {
  margin: auto;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  font-size: 1rem;
  font-weight: 600;

  line-height: 1.15rem;
  color: var(--main);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 800px) {
  .grids {
    grid-template-columns: 50% 50%;
  }

  .title p {
    font-weight: 600;
    font-size: 0.95rem;
  }
  .tags {
    font-size: 0.95rem;
  }
  .image1 {
    height: 55%;
  }
}

@media (max-width: 500px) {
  .grids {
    grid-template-columns: 100%;
  }

  .outline {
    overflow: hidden;
    border: 1px solid rgb(125, 84, 55);
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    position: relative;
    max-width: 95vw;

    transition: all 0.3s ease-in-out;
  }
}
