 
 
  
  
  
 
  
  
  .progressbar__svg-circle {
 z-index: 777;
 margin-right: .2px;
    fill: none;
    stroke-width: 8;
    stroke-dasharray:300;
    stroke-dashoffset: 300;
    stroke: rgba(15, 125, 96, 0.258);
    stroke-linecap: round;
 
  }
  

  .shadow-css {
    filter: drop-shadow(0 0 5px hsl(155, 76%, 33%) );
  }
  
  
 
  .circle-css {
    -webkit-animation: anim_circle-css 1s ease-in-out forwards;
    animation: anim_circle-css 5s ease-in-out forwards;
  }
   .progressbar__text {
    margin-left: 0;
    width:600px;
   text-align: left;
    font-size: small;
    font-weight: 600;
    margin-bottom: 2rem;     
    color: rgb(21, 46, 36);
   }
 
 
  @keyframes anim_circle-css {
    to {
      stroke-dashoffset: 0;
    }
  }
 