.mainContainer{
max-height:220px;
position:relative;
overflow: hidden;
background-color: white;
height: 220px;
max-width: 700px;
min-width: 400px;
margin: auto;
display: flex;
flex-direction: row;
box-shadow: 1px 5px 10px rgba(82, 23, 23, 0.356);
}
.imageContainer{
    height: 100%;
}
.imageCard{
position:relative;
height: 100%;
display: block;
width:250px;
}
.titlesdiv{
   font-weight: 600;
    margin: .6rem 1rem  1.3rem ;
}
.titlecard{ font-weight: 800;
    font-family: Proxima Nova W01 Bold,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    margin: 0rem 1rem .4rem 0rem ;

}
.cardspan{
     color: #79746dab;
    font-size: 15px;
}
.allstarsdiv{
margin: 0;
padding: 0;
margin-bottom: 1rem;
}
.stars{
    font-size: 18px;
    color: #cdad80;
    background-color: white; 
}
.cardspan{

}
.cardend{
 display: flex;
flex-direction: row;
flex-wrap: nowrap;   
align-items: center;
width:260px;

position: absolute;
right: .7rem;
bottom: .7rem;
justify-content: space-between;
}
.enddiv{
height: fit-content;
font-size: 14px;
font-weight: 600;
color: #695e4c;
line-height: 1.1rem;

}
.enddivbig{
    margin:0;padding: 0;
}
.enddivsmall{
    margin:0;padding: 0;

}
.cardbutton{
border:none;
outline:none;
font-size: 15px;
font-weight: 600;
padding: .3rem .7rem;
color:white;
border-radius: 4px;
background-color:#008578 ;
}
@media (max-width:900px){
    .mainContainer{
        max-height:190px;
        
        height: 180px;
        max-width: 460px;
        min-width: 400px;
        margin: auto;
        display: flex;
        flex-direction: row;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.356);
        }
        .imageContainer{
            height: 100%;
        }
        .imageCard{
        height: 100%;
        display: block;
        width:200px;
        }
        .titlesdiv{
            margin: .4rem 1rem  .7rem ;
        }
        .titlecard{
            font-family: Proxima Nova W01 Bold,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
            margin: 0rem 1rem .3rem 0rem ;
            font-size: 15px;
            font-weight: 800;
        
        }
        .cardspan{
   line-height: 0px;
            color: #8c857bbe;
            font-size: 14px;
            width:100px;
            text-align: left;
             
        }
        .allstarsdiv{
        margin: 0;
        padding: 0;
        margin-bottom: .5rem;
        }
        .stars{
            font-size: 16px;
            color: #cdad80;
            background-color: white; 
        }
        .cardspan{
 margin:0;
padding: 0;
        }
        .cardend{
         display: flex;
        flex-direction: row;
        flex-wrap: nowrap;   
        align-items: center;
        width:230px;
        margin-top: .5rem;
        justify-content: space-between;
        }
        .enddiv{
        height: fit-content;
        font-size: 13.5px;
        font-weight: 600;
        color: #7d7261;
        line-height: 1rem;
        
        }
        .enddivbig{
            margin:0;padding: 0;
        }
        .enddivsmall{
            margin:0;padding: 0;
        
        }
        .cardbutton{
        border:none;
        outline:none;
        font-size: 14px;
        font-weight: 600;
        padding: .2rem .5rem;
        color:white;
        border-radius: 5px;
        background-color:#008578 ;
        }





}
@media (max-width:700px){
    .mainContainer{
        max-height:400px;
        min-width: 100px;
        height: 400px;
        width:95vw; 
        margin: auto;
       margin-bottom: 4rem;
       
        display: flex;
        flex-direction: column;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.356);
        }
        .imageContainer{
            height: 230px;
            width: 100%;
        }
        .imageCard{
        height: 100%;
        display: block;
        width:100%;
        }
        .titlesdiv{
            margin:1rem;
        }
        .titlecard{
             margin: 0rem 1rem .3rem 0rem ;
            font-size: 15px;
            font-weight: 800;
        
        }
        .cardspan{
   line-height: 0px;
            color: #8c857bbe;
            font-size: 14px;
            width:100px;
            text-align: left;
             
        }
        .allstarsdiv{
        margin: 0;
        padding: 0;
        margin-bottom: .5rem;
        }
        .stars{
            font-size: 16px;
            color: #cdad80;
            background-color: white; 
        }
        .cardspan{
 margin:0;
padding: 0;
        }
        .cardend{
         display: flex;
        flex-direction: row;
        flex-wrap: nowrap;   
        align-items: center;
        width:93%;
        margin: auto;
        margin-top: .5rem;
        justify-content: space-between;
        }
        .enddiv{
        height: fit-content;
        font-size: 13.5px;
        font-weight: 600;
        color: #7d7261;
        line-height: 1rem;
        
        }
        .enddivbig{
            margin:0;padding: 0;
        }
        .enddivsmall{
            margin:0;padding: 0;
        
        }
        .cardbutton{
        border:none;
        outline:none;
        font-size: 14px;
        font-weight: 600;
        padding: .2rem .5rem;
        color:white;
        border-radius: 5px;
        background-color:#008578 ;
        }

}