.mapsection {
  border-right: 1rem solid #11a683;
  border-bottom: 1rem solid#11a683;
  margin-top: 0rem;
  justify-content: space-between;
}
.frameareacont {
  flex: 50%;
  position: relative;
  height: 17rem;
}
.frameareaoverlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #c9e6f2;
  z-index: -1;
  clip-path: polygon(0 0, 10% 0, 84% 100%, 0% 100%);
  border-top: 1rem solid#11a683;
  border-bottom: 1rem solid#11a683;
  border-left: 1rem solid#11a683;
}
.theframe {
   
  margin-left: 7rem;
  margin-bottom: 4rem;
  z-index: 66;
  height:15rem;
  width: 29rem;
  border-radius: 20px;
}

.theotherareacont {
  flex: 50%;
  height: 17rem;
}
.theotherarea {
  height: 17rem;
}
.theimage {
  height: 17rem;

  display: block;
  float: right;
}
@media (max-width: 800px) {
  .mapsection {
    border-right: 0.2rem solid #11a683;
    border-bottom: 0.2rem solid#11a683;
    margin-top: 4rem;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .frameareacont {
    flex: 100%;
    position: relative;
  }
  .frameareaoverlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #c9e6f2;
    z-index: -1;
    clip-path: polygon(0 0, 10% 0, 84% 100%, 0% 100%);
    border-top: 0.2rem solid#11a683;
    border-bottom: 0.2rem solid#11a683;
    border-left: 0.2rem solid#11a683;
  }
  .theframe {
    margin-left: 5vw;
    margin-top: 2rem;
    width: 90vw;
    z-index: 66;
    height: 60vh;
border:1px solid  #11a683;
    border-radius: 10px;
  }

  .theotherareacont {
    flex: 100%;
    height: 28rem;
  }
  .theotherarea {
    height: 28rem;
  }
  .theimage {
    height: auto;
    width: 100%;

    display: block;
    float: right;
  }
}
